<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Project</title>

    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/style.css">

</head>
<body>


    <div class="container mt-2">
        <h2 class="text-center">Renter Dashboard</h2>
        <!-- Form to Add Item -->
        <div class="card mt-4">
            <div class="card-header">
                <h5>Add New Item for Rent</h5>
            </div>
            <div class="card-body">
                <form id="addItemForm">
                    <div class="form-group">
                        <label for="itemName">Item Name</label>
                        <input type="text" class="form-control" id="itemName" placeholder="Enter item name" required>
                    </div>
                    <div class="form-group">
                        <label for="itemDescription">Item Description</label>
                        <textarea class="form-control" id="itemDescription" rows="3" placeholder="Enter item description" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Item</button>
                </form>
            </div>
        </div>



<!-- <div class="container">
    <div class="row">
        <h3>Add Item Into To-Do List</h3>
        <form action="/submit" method="post">
            <input type="text" placeholder="Enter Data" name="takData" id="taskData" class="col-md-5">
            <input type="time" placeholder="select time of work" id="" class="col-md-5">
            <input type="submit" value="submit" id="" class="col-md-2">
        </form>
    </div>
</div> -->


</body>
</html>